html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
body {
    background: radial-gradient(1200px 600px at 20% 10%, rgba(0,0,0,0.06), transparent 60%),
    radial-gradient(900px 500px at 90% 30%, rgba(0,0,0,0.05), transparent 55%),
    #ffffff;
}
